@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #F6F8FC;
}

.outline {
    outline: 2px solid red;
}


.width-300 {
    width: 300px;
}