@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
@import url('../components/Timeline/timeline.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply scroll-smooth
    }
}

body {
    background-color: #ECF1F6;
}

.outline {
    outline: 2px solid red;
}


.width-300 {
    width: 300px;
}